<mat-toolbar class="mat-elevation-z6" fxLayout="row" fxLayoutAlign="space-between center" color="primary">
  <div fxLayout="row" fxLayoutAlign="center center">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a [routerLink]="['/']" matTooltip="首頁" class="toolbar-title">偏鄉真漂亮</a>
  </div>
  <div>
    <!-- 已登入 -->
    <ng-container *ngIf="(isLoggedIn$ | async); else notLogin">
      <button mat-flat-button type="button" class="top-menu-button" [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        <span>{{ userName() }}</span>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button type="button" mat-menu-item routerLink="/account/profile" routerLinkActive="active">
          <mat-icon>portrait</mat-icon>
          <span>個人資訊</span>
        </button>
        <mat-divider></mat-divider>
        <button type="button" mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>登出</span>
        </button>
      </mat-menu>
    </ng-container>
    <!-- 未登入 -->
    <ng-template #notLogin>
      <a fxFlex="noshrink" [routerLink]="['/login']" mat-flat-button class="top-menu-button">
        <mat-icon>login</mat-icon>
        <span>登入</span>
      </a>
    </ng-template>
  </div>
</mat-toolbar>
<mat-sidenav-container
  [ngStyle.lt-sm]="{'height': 'calc(100vh - 56px)'}"
  [ngStyle.gt-xs]="{'height': 'calc(100vh - 64px)'}">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [fixedTopGap]="(isHandset$ | async) ? '56' : '64'"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <!-- Dashboard -->
      <h3 mat-subheader>Dashboard</h3>
      <a mat-list-item (click)="clickItem()" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>首頁</p>
      </a>
      <!-- Article -->
      <h3 mat-subheader>Article</h3>
      <!--
      <a mat-list-item (click)="clickItem()" routerLink="/article" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>article</mat-icon>
        <p mat-line>文章</p>
      </a>
      -->
      <a mat-list-item (click)="clickItem()" routerLink="/article/create" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>add</mat-icon>
        <p mat-line>建立文章</p>
      </a>
      <a mat-list-item (click)="clickItem()" routerLink="/article/list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>article</mat-icon>
        <p mat-line>文章列表</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <p class="text-center mat-body-strong">Copyright &copy; 2021 偏鄉真漂亮</p>
  </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner [size]="(isHandset$ | async) ? 'medium' : 'large'" type="ball-clip-rotate-multiple">
  <p style="font-size: 20px; color: white; margin-top: 40px;">載入中...</p>
</ngx-spinner>
