<mat-toolbar class="mat-elevation-z6" fxLayout="row" fxLayoutAlign="space-between center" color="primary">
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a [routerLink]="['/']" matTooltip="首頁" class="toolbar-title">偏鄉真漂亮</a>
  <div fxFlex="grow"></div>
  <a fxFlex="noshrink" [routerLink]="['/login']" mat-flat-button class="top-menu-button">
    <mat-icon>login</mat-icon>
    <span>登入</span>
  </a>
</mat-toolbar>
<mat-sidenav-container
  [ngStyle.lt-sm]="{'height': 'calc(100vh - 56px)'}"
  [ngStyle.gt-xs]="{'height': 'calc(100vh - 64px)'}">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [fixedTopGap]="(isHandset$ | async) ? '56' : '64'"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <!-- Dashboard -->
      <h3 mat-subheader>Dashboard</h3>
      <a mat-list-item (click)="clickItem()" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>首頁</p>
      </a>
      <!-- Article -->
      <h3 mat-subheader>Article</h3>
      <a mat-list-item (click)="clickItem()" routerLink="/article" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>文章</p>
      </a>
      <a mat-list-item (click)="clickItem()" routerLink="/article/create" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>建立文章</p>
      </a>
      <a mat-list-item (click)="clickItem()" routerLink="/article/list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>文章列表</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <p class="text-center mat-body-strong">Copyright &copy; 2020 偏鄉真漂亮</p>
  </mat-sidenav-content>
</mat-sidenav-container>
